<div id="allperf" class="bg-image">
  <h2>Availability</h2>
    <div class="card-position">
        {{#each storeAvailable}}
            <div class="edit-perfume">
                <div class="card text-left" style="width: 60rem;">
                    <div class="card-body">
                                        <ul> <h3 class="perfume-name"> {{@key}}: </h3>
                                        {{#each this}}
                                        <li> {{this}} </li>
                                        {{/each}}
                                    
                                        </ul> 
                                   
                    </div>
                    
                </div>
            </div>
        {{/each}}
    </div>
</div>
