
<div class="creation-page">

    <form action="/perfumes/add" method="POST">

            <p>   
                  <label>Name:</label>
                  <input type="text" name="name" placeholder="Add name here"  size="60"/>
              </p>

              <p>
                  <label>Manufacturer:</label>
                  <input type="text" name="manufacturer" placeholder="Add manufacturer here"  size="60"/> 
              </p>

            <p>
                  <label>Fragrance:</label>
                  <input type="text" name="fragrance" placeholder="Add the fragrance here separated by commas"  size="60"/>
            </p>

            <p>
                  <label>Composition:</label>
                  <input type="text" name="composition" placeholder="Add the composition here separated by commas" size="60"/>
            </p>

            <p>
                  <label>Image:</label>
                  <input type="text" name="image" placeholder="Add the link to the perfume photo here"  size="60"/>
            </p>


          <button action="submit">Submit</button>
          </form>

</div>
        

