<div id="allperf" class="bg-image">
      <h4>Add a new Perfume</h4>
      <div class="card-position">
            <div class="edit-perfume">
                  <div class="card text-left" style="width: 60rem;">
                        <div class="card-body">
                              <div class="creation-page">
                                    <form action="/perfumes/add" method="POST">
                                          <p>
                                                <label class="forms-font">Name:</label>
                                                <input type="text" name="name" placeholder="Add name here" size="60" />
                                          </p>
                                          <p>
                                                <label class="forms-font">Manufacturer:</label>
                                                <input type="text" name="manufacturer"
                                                      placeholder="Add manufacturer here" size="50" />
                                          </p>
                                          <p>
                                                <label class="forms-font">Fragrance:</label>
                                                <input type="text" name="fragrance"
                                                      placeholder="Add the fragrance here separated by commas"
                                                      size="50" />
                                          </p>
                                          <p>
                                                <label class="forms-font">Composition:</label>
                                                <input type="text" name="composition"
                                                      placeholder="Add the composition here separated by commas"
                                                      size="50" />
                                          </p>
                                          <p>
                                                <label class="forms-font">Image:</label>
                                                <input type="text" name="image"
                                                      placeholder="Add the link to the perfume photo here" size="50" />
                                          </p>
                                          <button action="submit">Submit</button>
                                    </form>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>