@import url("https://fonts.googleapis.com/css2?family=Petemoss&family=Puppies+Play&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(125, 87, 81);
  font-weight: bold;
  padding: 10px;
  -webkit-text-stroke: 1px rgb(143, 107, 101);
}

ul.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(218, 176, 169);
}

li.nav-bar {
  float: left;
}

li.nav-bar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(192, 149, 141);
  color: rgb(247, 160, 175);
}

.active {
  background-color: rgb(212, 165, 156);
}

/** footer definitions */
footer a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

footer {
  list-style-type: none;
  margin: 0;
  padding: 0.7rem;
  overflow: hidden;
  border: 1px solid rgb(218, 176, 169);
  background-color: rgb(218, 176, 169);
  color: rgb(235, 215, 211);
  position: fixed;
  font-size: 0.7rem;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
}

#intro {
  background-image: url("/images/perfume3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* Height for devices larger than 576px */
@media (min-width: 100%) {
  #intro {
    margin-top: 0px;
  }
}

.welcome-page {
  margin-top: 0;
}

h1 {
  font-family: "Puppies Play", cursive;
  font-size: 9rem;
}

label {
  padding: 0.5rem;
}

button {
  border-radius: 12px;
  padding: 12px 35px;
  font-size: 14px;
  background-color: rgb(231, 157, 144);
  margin-left: 10px;
  color: white;
  border-color: lightgrey;
}

button > a {
  text-decoration: none;
  color: white;
}

button > a:hover {
  text-decoration: none;
  color: white;
}

.perfumes-grid {
  display: grid;
  justify-content: space-around;
  padding: 1.5rem;
  grid-template-columns: 32% 34% 34%;
  gap: 1.2rem;
  max-width: 99%;
  margin: 0;
  background-color: white;
  margin-bottom: 20px;
  border: 0.6em solid rgb(192, 149, 141);
}

.img-card-section {
  height: 13rem;
  display: flex;
  justify-content: center;
}

.img-perfume {
  height: 13rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.perfume-name {
  font-weight: 250;
  font-size: 2rem;
  font-family: "Petemoss", cursive;
}

.perfume-manufacturer {
  font-weight: 100;
  font-size: 1rem;
}

.text-perfume {
  align-items: center;
  text-align: center;
  padding-bottom: 1.5rem;
}

#allperf {
  background-image: url("/images/marbleGliter.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
}

/* Height for devices larger than 576px */
@media (min-width: 100%) {
  #allperf {
    margin-top: 0px;
  }
}

.perfbutton {
  border-radius: 12px;
  padding: 3px;
  margin: auto;
  font-size: 10px;
  background-color: rgb(231, 157, 144);
  display: flex;
  align-content: center;
  color: white;
  border-color: lightgrey;
}

.buttons-to-edit {
  display: flex;
  justify-content: center;
}

/* Go to top of page btn */
#myBtn {
  display: none;
  position: fixed;
  bottom: 45px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(218, 176, 169);
  color: white;
  cursor: pointer;
  padding: 0.35rem 0.6rem;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 300;
}

#myBtn:hover {
  background-color: rgb(192, 149, 141);
}

/* Search bar */
.btn-outline-primary {
  color: white;
  border-color: rgb(192, 149, 141);
  background-color: rgb(201, 165, 160);
}
.btn-outline-primary:hover {
  color: rgb(179, 136, 128);
  background-color: rgb(238, 229, 228);
  border-color: white;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgb(238, 210, 206);
  border: 2px solid rgb(179, 136, 128);
  transition: 0.3s;
  padding-top: 2rem;
  display: grid;
  justify-content: space-around;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2rem;
}

/** Card for details page */
.card-position {
  padding-top: 2.5rem;
  display: grid;
  align-items: center;
}
.card2 {
  background-color: white;
  border: 2px solid rgb(179, 136, 128);
  box-shadow: 0 4px 8px 0 rgb(238, 210, 206);
  transition: 0.3s;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: grid;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgb(192, 149, 141);
}

.card > img {
  display: flex;
  float: left;
  justify-content: center;
  height: 13rem;
}

.searched-for {
  font-family: "Amatic SC", cursive;
  padding: 2rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;

  font-weight: 1000;
}

.input-group {
  display: flex;
  flex-direction: row;
  padding-top: 1.5%;
  display: flex;
  justify-content: center;
}

#search-perfumes {
  background-image: url("/images/marbleGliter.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
}

/* Height for devices larger than 576px */
@media (min-width: 100%) {
  #search-perfumes {
    margin-top: 0px;
  }
}

button.btn-search {
  display: flex;
  justify-content: center;
  margin-left: 45%;
}

.fragrance-txt {
  padding-right: 5rem;
  font-family: "EB Garamond", serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
}
.fragrance-txt-all {
  padding-right: 5rem;
  font-family: "EB Garamond", serif;
  font-weight: 300;
  display: grid;
  justify-content: center;
  padding: 0;
}
.fragrance-txt-find {
  padding-right: 5rem;
  font-family: "EB Garamond", serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
}

.perfume-details-card {
  margin-top: 10px;
}

.img-perfume-details {
  display: flex;
  height: 12rem;
  float: left;
  padding: 0.2rem;
}

.edit-perfume,
h3 {
  display: flex;
  justify-content: center;
}

.no-credentials {
  padding-top: 10%;
}

/** cards styling */
.card {
  box-shadow: 0 4px 8px 0 rgb(238 210 206);
  transition: 0.3s;
  padding-top: 0.5rem;
  display: grid;
  justify-content: space-around;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 1.5rem;
}

.creation-page {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

/* Forms */
.forms-font {
  font-weight: 600;
  font-family: "EB Garamond", serif;
  font-size: 1.3rem;
}

h4 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(125, 87, 81);
  font-weight: bold;
  padding-top: 40px;
  font-size: 2.5rem;
  -webkit-text-stroke: 1px rgb(143, 107, 101);
}

.card-body {
  padding-top: 0.75rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
}

/** Find perfumes page */
.card-position2 {
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 0;
}

.img-left-side {
  height: 13rem;
  display: flex;
}

.container-card-find {
  display: grid;
  justify-self: center;

}
