@import url("https://fonts.googleapis.com/css2?family=Petemoss&family=Puppies+Play&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

h2 {
  display: flex;
  align-items: center;
  color: rgb(82, 67, 70);
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(218, 176, 169);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(192, 149, 141);
  color: rgb(247, 160, 175);
}

.active {
  background-color: rgb(212, 165, 156);
}

footer {
  list-style-type: none;
  margin: 0;
  padding: 0.7rem;
  overflow: hidden;
  border: 1px solid rgb(218, 176, 169);
  background-color: rgb(218, 176, 169);
  color: rgb(235, 215, 211);
  position: fixed;
  font-size: 0.7rem;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
}

#intro {
  background-image: url("/images/perfume3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* Height for devices larger than 576px */
@media (min-width: 100%) {
  #intro {
    margin-top: 0px;
  }
}

.welcome-page {
  margin-top: 0;
}

h1 {
  font-family: "Puppies Play", cursive;
  font-size: 9rem;
}

label {
  padding: 0.5rem;
}

button {
  border-radius: 12px;
  padding: 12px 35px;
  font-size: 14px;
  background-color: rgb(231, 157, 144);
  margin-left: 10px;
  color: white;
}

button > a {
  text-decoration: none;
  color: white;
}

button > a:hover {
  text-decoration: none;
  color: white;
}

.perfumes-grid {
  display: grid;
  justify-content: space-around;
  padding: 1.5rem;
  grid-template-columns: 32% 34% 34%;
  gap: 1.2rem;
  max-width: 99%;
  margin: 0;
  background-color: white;
  margin-bottom: 20px;
  border: 0.6em solid rgb(192, 149, 141);
}

.img-perfume {
  display: flex;
  height: 13rem;
  float: left;
  padding: 1rem;
}

.perfume-name {
  font-weight: 250;
  font-size: 2rem;
  font-family: "Petemoss", cursive;
}

.perfume-manufacturer {
  font-weight: 100;
  font-size: 1rem;
}

.text-perfume {
  align-items: center;
  text-align: center;
}

#allperf {
  background-image: url("/images/marbleGliter.jpg");
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
}

/* Height for devices larger than 576px */
@media (min-width: 100%) {
  #allperf {
    margin-top: 0px;
  }
}

.perfbutton {
  border-radius: 12px;
  padding: 3px 3px;
  font-size: 10px;
  background-color: rgb(231, 157, 144);
  display: flex;
  align-content: center;
  color: white;
  border-color: lightgrey;
}

.buttons-to-edit {
  display: flex;
}

/* Go to top of page btn */
#myBtn {
  display: none;
  position: fixed;
  bottom: 45px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(218, 176, 169);
  color: white;
  cursor: pointer;
  padding: 0.35rem 0.6rem;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 300;
}

#myBtn:hover {
  background-color: rgb(192, 149, 141);
}

/* Search bar */
.btn-outline-primary {
  color: rgb(192, 149, 141);
  border-color: rgb(192, 149, 141);
}
.btn-outline-primary:hover {
  color: rgb(192, 149, 141);
  background-color: rgb(238, 210, 206);
  border-color: white;
}
