
 <div id="intro" class="bg-image shadow-2-strong">
      <div class="mask" style="">
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
          <div class="text-white  welcome-page">
            <h1 class="mb-3">Welcome to Perfumaniacs</h1>
            <h5 class="mb-4">Perfume is the art that makes the memory speak - <i>Jean Claude Ellena</i></h5>
          </div>
        </div>
      </div>
    </div>