
{{! Search bar  }}
<div class="input-group">
  <input
    type="search"
    class="form-control rounded"
    placeholder="Search your favorite perfume"
    aria-label="Search your favorite perfume"
    aria-describedby="search-addon"
  />
  <button type="button" class="btn btn-outline-primary">Search</button>
</div>