
{{#if userInfo.store}}
  <div>
      Edit page - for testing - should appear only for store users
  </div>
{{/if}}



{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}